.contenedor-noticia {
    max-width: 1124px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.contenedor-noticia .tipo-fecha {
    display: flex;
    justify-content: space-between;
    color: #515151;
    font-size: 13px;
    font-weight: bold;
}

.contenedor-noticia .titular {
    margin-top: 20px;
    color: #17194d;
    font-size: 30px;
}

.contenedor-noticia .resumen{
    margin-top: 10px;
    font-size: 15px;
}

.contenedor-noticia .portada{
    margin-top: 10px;
    text-align: center;
}

.contenedor-noticia .portada img{
    width: 1124px;
    object-fit: cover;
}

.contenedor-noticia .contenido{
    margin-top: 20px;
    text-align: justify;
}

.contenedor-noticia .contenido article{
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    border: none;
}