.noticia-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 0px;
}

.noticia-card a {
    text-decoration: none;
    color: #000000c0;
    transition: all 300ms;
}


.noticia-card a:hover {
    scale: 1.01;
    color: #17194d;
}

.noticia-card .noticia-titular{
    height: 100px;
}

.noticia-card figure{
    text-align: center;
}

.noticia-card figure img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.noticia-card p{
    margin: 5px;
    font-size: 15px;
    color: #515151;
    text-align: justify;
}

.noticia-card span{
    margin: 5px;
    font-size: 13px;
    color: #515151;

    text-align: end;
}