.crear-publicacion {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

}


.crear-publicacion form{
    margin: 20px 40px;
    /* border: 1px solid #000; */
    width: 90%;
    display: flex;
    flex-direction: column;
}



form .informacion {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}

form .informacion .informacio-publicacion{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 50%;
}

.informacion-cabecera {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 10px !important;
}


.select-tipo {
    width: 150px;
    font-size: 15px;
    font-family: sans-serif;

}

form .titular {
    max-height: 50px;
    font-size: 15px;
}

form .informacion .informacio-publicacion p{
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(4, 49, 113);
    letter-spacing: 1.5px;
    font-size: 20px;
    margin-right: 15px;
}

.btn-categoria {
    margin-left: 15px;
    height: 35px;
    width: 185px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;

}



.caja-texto{
    border-radius: 15px;
    border: 1px solid #545353;
    padding-left: 15px ;
    margin-bottom: 15px;
    min-height: 35px;
    font-size: 15px;

}

form textarea {
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 15px;
    border: 1px solid #545353;
    font-family: sans-serif;
    font-size: 15px;
}




form .informacion .portada-publicacion{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 40%;
    margin-left: 50px;

    justify-content: center;
    align-items: center;
}

form .informacion .portada-publicacion img{
    width: 75%;
    border: 1px solid #000;
    margin-bottom: 15px;
}






form .contenido {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: 200px;
    max-height: 200px;
}